# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#include <stdio.h>
 
void main()
{
    int fib1 = 0, fib2 = 1, fib3, num, count = 0, count2 = 0, i;
 
    printf("Enter the value of num \n");
    scanf("%d", &num);
    printf("First %d FIBONACCI numbers are ...\n", num);
    printf("%d\n", fib1);
    printf("%d\n", fib2);
    count = 2; /* fib1 and fib2 are already used */
    while (count < num)
    {
        fib3 = fib1 + fib2;
        count++;
        
        for(i=2;i<=fib3/2;i++)
        {
          if(fib3%i==0)
          {
           count2++;
            break;
          }
        }
   if(count2==0 && fib3!= 1)
   {
        printf("%d BuzzFizz",fib3);
   }     
   else
        
        if(fib3%3==0)
        {
          printf("%d Buzz \n",fib3); /* divisible by 3 */
        } 
          else if(fib3%5==0) 
          {
            printf("%d Fizz \n",fib3); /* divisible by 5 */
          }  
            else if(fib3%15==0) 
            {
              printf("%d FizzBuzz \n",fib3); /* divisible by 15 */
            }  
              else
              {
                printf("%d \n",fib3); /* otherwise */
              }
        return 0;
        fib1 = fib2;
        fib2 = fib3;
   }
}
